<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Stacks Overflowed</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="site-header">
    <nav class="grey lighten-5">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left grey-text text-darken-3"><img class="logo" src="/img/pancake.png">Stacks
          Overflowed</a>
        <ul class="right grey-text text-darken-3">
          {{#if currentUser}}
          <li><a href="/question/new">+Question</a></li>
          <li><a href="/user/{{currentUser.id}}">Profile</a></li>
          <li><a href="/user/logout">Log Out</a></li>
          {{else}}
          <li class="grey-text text-darken-3"><a href="/user/login" class="grey-text text-darken-3">Log In</a></li>
          <li class="grey-text text-darken-3"><a href="/user/sign-up" class="grey-text text-darken-3">Sign Up</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    {{{ body }}}
  </main>
</body>

</html>